:root {
    --dark-blue: #1F2937;
    --green: #4ADF86;
    --med-blue: #2F3E53;
    --glow: 3px 3px 10px rgba(85, 249, 145, 0.2);
}

body {
    margin: 0;
    background-color: #1C1C1C;
}

.container {
    background-color: var(--dark-blue);
    max-width: 550px;
    margin: 20px auto;
    padding: 80px 40px;
}

.header-container {
    font-family: Karla, sans-serif;
    color: #FFF;
    max-width: 90%;
    margin: 0 auto;
    border-bottom: solid 1px var(--med-blue);
}

.header-container h1 {
    font-size: 40px;
}

.header-container span {
    color: var(--green);
    text-shadow: var(--glow);
}

.header-container p {
    font-size: 20px;
}

.header-container button {
    background-color: var(--green);
    border: none;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 6px;
    margin: 35px 0;
    font-size: 18px;
    box-shadow: var(--glow);
}

.password-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 90%;
    margin: 20px auto;
}

.password-container p {
    font-family: Inter, sans-serif;
    color: var(--green);
    text-align: center;
    background-color: var(--med-blue);
    padding: 8px;
    border-radius: 6px;
    height: 30px;
    line-height: 30px;
}